<div id="material-example">

    <h1>ToolBar</h1>

    <mat-toolbar color="primary">

        <span>Material Design Rocks!</span>

    </mat-toolbar>



    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item>
            <mat-icon>dialpad</mat-icon>
            <span>Redial</span>
        </button>
        <button mat-menu-item disabled>
            <mat-icon>voicemail</mat-icon>
            <span>Check voice mail</span>
        </button>
        <button mat-menu-item>
            <mat-icon>notifications_off</mat-icon>
            <span>Disable alerts</span>
        </button>
    </mat-menu>


    <br />

    <h1>Buttons</h1>

    <mat-card>

        <button mat-button>Basic</button>
        <button mat-raised-button>Raised</button>
        <button mat-icon-button>
            <mat-icon>favorite</mat-icon>
        </button>
        <button mat-fab>Fab</button>
        <button mat-mini-fab>mFab</button>

    </mat-card>




</div>